body {
	color: #444444;
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	background: #FAFAFA;
}

main, .header{
	width: 50%; 
	margin: auto;
}

header {
	text-align: center
}

.helptext {
	font-size: small;
}

label[for=id_username], label[for=id_password1], label[for=id_password1], label[for=id_password2] {
	font-size: medium;
}

div .authentication {
	position: absolute;
	top: 50%;
	left: 50%; 
	trasform: translate(-50%, -50%);
}

.btn, .btn-success{
	background-color: #5cb85c;
	border-color: #4cae4c;
}