{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<script src="{% static 'js/app.js' %}"></script>
<script>
    //Questo script aggiunge i tag nel tag input del form
    app.controller('MainCtrl', function($scope, $http) {
        $scope.ActionFreeText = function(tag) {
            var input = document.getElementById('id_labels');
            input.value = input.value + tag.text + ",";
        }
    });

    app.config(function(tagsInputConfigProvider) {
        tagsInputConfigProvider.setDefaults('tagsInput', { minLength: 1 });
    });
</script>
<script type="text/javascript">
    //Funzione richiamata quando viene schiacciato il tasto per creare la collection
    function submitFunc() {
        document.getElementsByTagName("html")[0].removeAttribute("ng-app");
        document.getElementsByTagName("html")[0].removeAttribute("class");
        var input = document.getElementById('id_labels');
        input.value = input.value.substr(0, input.value.length - 1);
        //console.log(input);
        document.getElementById("formColl").submit();
    }
</script>

<div>
  <h2>New Collection</h2>
  <form method="post" id="formColl">
    {% csrf_token %}
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.labels.errors }}
        <label for="{{ form.name.id_for_label }}">Labels</label>
        <div hidden>{{ form.labels }}</div>
        <!--<div id="example1" class="input textarea"></div>
            <p id="log"></p>-->
            <tags-input ng-model="tags" placeholder="Add a label" on-tag-added="ActionFreeText($tag)" use-strings="true"></tags-input>

        </div>
        <br>
        <button onclick="submitFunc()" type="submit" name="_submit" class="btn btn-success">Create</button>
    </form>
</div>
<script type="text/javascript">
        document.getElementsByTagName("html")[0].setAttribute("ng-app","plunker");
        document.getElementsByTagName("body")[0].setAttribute("ng-controller", "MainCtrl");
</script>
{% load staticfiles %}
<script>document.write('<base href="' + document.location + '" />');</script>
<link rel="stylesheet" href="{% static 'css/ng-tags-input.min/ng-tags-input.min.css' %}" />
<script src="{% static 'css/ng-tags-input.min/ng-tags-input.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ng-tags-input.min/ng-tags-input.bootstrap.min.css' %}" />

{% endblock %}
