{% extends 'base.html' %}

{% block title %} {{ collection.name }} {% endblock %}


{% block content %}

{% if collection.item_set %}
		<style type="text/css">
			.tags {
			 	background-color: #fff;
			  	cursor: default;
			}

			.tag-item {
				opacity: 1;
				background: #428bca;
			}

			.remove-button {
				display: none;
			 }

			.input {
				display: none;
			}
		</style>
		<script type="text/javascript">
		window.onload=function(){
			document.getElementsByTagName("html")[0].setAttribute("ng-app","plunker");
			document.getElementsByTagName("body")[0].setAttribute("ng-controller", "MainCtrl");

		    circularBar({{ collection.progress }});
			var labels = [
				{% for obj in collection.labels %}
					{'text' : "{{ obj }}" }, 
				{% endfor %}
				];

    			console.log(labels);
    			fillTags(labels);
		}
		</script>
		<script>
			function fillTags(tags){
				var app = angular.module('plunker', ['ngTagsInput']);
				app.controller('MainCtrl', function($scope, $http) {
				  $scope.tags =tags;
				});

				app.config(function(tagsInputConfigProvider) {
				    tagsInputConfigProvider.setDefaults('tagsInput', { minLength: 1 });
				});
			};
		</script>
    	<div class="well well-lg" >
    		<div class="container-fluid">
	    		<div class="row">
	    			<div id="item-name" class="col-sm-9"><p>{{ collection.name }}</p></div>
					<div id="container" class="col-sm-2"></div>
				</div>
				<br><br>
				<div class="row">
					<div id="labels" class="col-sm-4"><p>Label:</p></div>
					<div id="tags" class="col-sm-8">
					<tags-input ng-model="tags" use-strings="true" ></tags-input>
					</div>
				</div>
			</div>
    	</div>
    {% for item in collection.item_set.all %}
        <li><a href="{% url 'detail' item.id %}">{{ item.name }}</a></li>
    {% endfor %}
{% else %}
    <p>The collection is empty.</p>
{% endif %}

{% endblock %}
