{% extends 'base.html' %}

{% load static %}

{% block title %}MI - Labelling{% endblock %}


{% block content %}
    <div id="img_div">
        <img id="img" src="/media/{{ form.image }}" class="img-thumbnail">
    </div>
    <br>
    <div class="container-fluid">
        <form method="post" id="form1">
            {% csrf_token %}
            <div class="form-group">
                <p style="color: red;"><b>{{ form.error }}</b></p>
                <label>Select label:</label><br>
                <p style="color: #aaaaaa; font-size: smaller;">
                    Shortcut: The first 9 labels are binded to numbers from 1 to 9
                </p>
                <select name="label" class="form-control" id="sel1">
                    {% for label in form.labels %}
                        <option value='{{ label }}'>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    <script type="text/javascript">
        $(window).keypress(function (e) {
            //use e.which
            var keyCode = e.which;
            var baseCode = 49;
            {% for label in form.labels %}
            if (keyCode == baseCode + {{ forloop.counter0 }}) {
                document.getElementById('sel1').value='{{ label }}';
                document.getElementById("form1").submit();
            }
            {% endfor %}
        })
    </script>

{% endblock %}
