{% extends 'base.html' %}

{% load static %}

{% block title %} Item {% endblock %}


{% block content %}

{% if user.is_authenticated %}
    <img id="img" src="/media/{{ form.image }}" class="img-thumbnail">
    <div class="container">
        <form method="post" id="form1">
            {% csrf_token %}
            <div class="form-group">
                <label for="sel1">Select list (select one):</label>
                <select name="label" multiple class="form-control" id="sel2">
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>
                </select>
            </div>
            <input type='submit' name='submit'/>
        </form>
        <!-- <button action="." type="submit" form="form1" value="Submit">Submit</button> -->
    </div>
{% else %}
<p>You are not logged in. Please <a href="{%url 'login' %}">log in</a>
{% endif %}

{% endblock %}
