{% extends 'base.html' %}

{% load static %}

{% block title %} Item {% endblock %}


{% block content %}

    <img id="img" src="/media/{{ form.image }}" class="img-thumbnail">
    <br><br><br>
    <div class="container-fluid">
        <form method="post" id="form1">
            {% csrf_token %}
            <div class="form-group">
                <p style="color: red;"><b>{{ form.error }}</b></p>
                <label for="sel2">Select label:</label>
                <select name="label" multiple class="form-control" id="sel2">
                    {% for label in form.labels %}
                        <option value='{{ label }}'>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <br><br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <!-- <button action="." type="submit" form="form1" value="Submit">Submit</button> -->
    </div>

{% endblock %}
