{% extends 'base.html' %}

{% block title %}My Collections{% endblock %}


{% block content %}

{% if user.is_authenticated %}
    {% if collections_list %}
    <div class="panel panel-default">
        <div class="panel-heading">MyCollection</div>
        <ul>
        {% for collection in collections_list %}
            <div class="panel-body">
                <li><a href="{% url 'detail' collection.id %}">{{ collection.name }}</a></li>
            </div>
        {% endfor %}
        </ul>
    </div>
    {% else %}
        <p>No collections are available.</p>
    {% endif %}
{% else %}
    <p>You are not logged in. Please <a href="{%url 'login' %}">log in</a>
{% endif %}

{% endblock %}
